# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Cho-Hyunmin
name: dispatch ci

on:
  push:
  workflow_dispatch:

jobs:
  dispatch:
    permissions:
      contents: read
      packages: write
    uses: yule-test-ci/ci-to-ghcr/.github/workflows/ci-ghcr-orchestrator.yml@v1
    secrets: inherit
